
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
  background: #f5f5f5;
  box-sizing: border-box;
  height: 100%;
}
html{
  height: 100%;
}
/* Barre de navigation */

nav{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  position: sticky;
  top: 0px;
  z-index: 10;
}
nav h1{
  font-size:20px;
}
nav .onglets{
  display: flex;
  flex-wrap:wrap;
}
nav .onglets p{
  font-size: 17px;
  margin-right: 10px;
  cursor:pointer;
}
nav .onglets input{
  margin: 8px 20px;
  padding:15px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #f2f2f2;
}
nav .onglets a{
  text-decoration: none;
  color: #000;
}
/* Fin de la barre de navigation */

/* main*/
main{
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  flex-flow: wrap;

}
.box{
box-sizing: border-box;
margin: 100px auto;
}
.quiz img{
  width:40%;
  display: flex;
  flex: wrap;
  border-radius:10px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border: 1px solid black;
}
.quiz{
width: 40%;
background: white;
border: 1px solid black;
border-radius: 10px; 
height: auto;
min-height: 640px;
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  flex-flow: wrap;
}
iframe{
  height: 640px;
  width: 100%;
  }
.description{
  height: auto;
  background: #fff;
  color:#000;
  width: 50%;
  border-radius: 10px;
  border: 1px solid black;

}
.blabla{
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  flex-flow: wrap;
}
.box p{
  margin: 50px 50px;
  font-size: 20px;
  display: flex;
}
.info{
  width: 50%;
}
.box h1{
  margin: 50 px auto;
  display: flex;
  flex: wrap;
  justify-content: center;
  align-items: center;
}
.body{
  min-height: 100%;
  position: relative;
}
footer{
  height: 150px;
  background: white;
  width: 100%;
  position: absolute;
  bottom: -100px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  color: black;
}
footer p{
  margin: auto 20px;
}
footer a{
  text-decoration: none;
  color: black;
}
footer .icons4{
color: black;
size: 100px;
}

/* fin main*/

@media screen and (max-width: 640px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
  .quiz{
width: 95%;
height: auto;
}

.description{
  
  height: auto;
  width: 95%;
}
.box p{
  margin: 10px 10px;
}
}
