
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
html{
  height: 100%;
}

body{
  font-family: 'Poppins', sans-serif;
  margin: 0px auto;
  padding: 0px;
  background: #f5f5f5;
  box-sizing: border-box;
  height: 100vh;
  height: 100%;


}
.contenu{
  position: relative;
  min-height: 100%;
}
.body2{
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  margin: 0px auto;
  grid-gap: 60px;
}
/* Barre de navigation */

nav{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  position: sticky;
  top: 0px;
  z-index: 10;
}
nav h1{
  font-size:20px;
}
nav .onglets{
  display: flex;
  flex-wrap:wrap;
}
nav .onglets p{
  font-size: 17px;
  margin-right: 10px;
  cursor:pointer;
}
nav .onglets input{
  margin: 8px 20px;
  padding:15px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #f2f2f2;
}
nav .onglets a{
  text-decoration: none;
  color: #000;
}
/* Fin de la barre de navigation */
/*footer*/
footer{
  height: 150px;
  background: white;
  width: 100%;
  position: absolute;
  bottom: -200px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  color: black;
}
footer p{
  margin: auto 20px;
}
footer a{
  text-decoration: none;
}
footer .icons4{
color: black;
size: 100px;
}

/*fin footer*/
.body3{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.container .heading{
  width: 50%;
  padding-bottom: 50px;
}
.container .heading h3{
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid #222;
}

.container .heading h3 span{
  font-weight: 100;
}

 .card {
  height: 379px;
  width: 300px;
  border-radius: 10px;
  transition: all 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cards{
  height: 600px;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  transition: all 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.border1{
  height: auto;
  width: 97%;
  border-radius: 10px;
  transition: all 1s;
  position: absolute;
}
.border1:hover{
  border: 1px solid black;
}
.card0 {
  background: url(img/IMG_5809.JPG) center center no-repeat;
  background-size: 300px;
}
    
.card0:hover {
    background: url(img/IMG_5809.JPG) left top no-repeat;
    background-size: 400px;
}

.card1 {
  background: url(img/_DSC3622.jpg) center center no-repeat;
  background-size: 300px;
}

.card1:hover {
    background: url(img/_DSC3622.jpg) left top no-repeat;
    background-size: 400px;
}

.card2 {
  background: url(img/IMG_5754.JPG) center center no-repeat;
  background-size: 300px;
}

.card2:hover {
    background: url(img/IMG_5754.JPG) left top no-repeat;
    background-size: 400px;
}

.card3 {
  background: url(img/DSC_1859.jpg) center center no-repeat;
  background-size: 300px;
}

.card3:hover {
    background: url(img/DSC_1859.jpg) left top no-repeat;
    background-size: 400px;
}
.card4{
   background: url(img/DSC_0418.jpg) center center no-repeat;
  background-size: 1000px;
}
.card4:hover{
  background: url(img/DSC_0418.jpg) right top no-repeat;
    background-size: 1100px;
}
.card5{
   background: url(img/tom/tomblancgrosplan.png) center center no-repeat;
  background-size: 700px;
}
.card5:hover{
  background: url(img/tom/tomblancgrosplan.png) left top no-repeat;
    background-size: 800px;
}
.card6{
   background: url(img/ardève/DSC_0645.JPG) center center no-repeat;
  background-size: 900px;
}
.card6:hover{
  background: url(img/ardève/DSC_0645.JPG) left top no-repeat;
    background-size: 950px;
}
.card h2 {
  font-family: Poppins, sans-serif;
  color: black;
  margin: 20px;
  opacity: 0;
  transition: all 1s;
}
.cards h2{
  font-family: Poppins, sans-serif;
  color: black;
  margin: 20px;
  opacity: 0;
  transition: all 1s;

}

.fab {
  opacity: 0;
  transition: all 1s;
}

.icons {
  position: absolute;
  height: 130px;
  top: 280px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

a {
  color: black;
}
.card:hover h2 {
    opacity: 1;
}
.cards:hover h2{
  opacity: 1;
}

.card:hover .fab {
    opacity: 1;
}
.border {
  height: 97%;
  width: 97%;
  border-radius: 10px;
  transition: all 1s;
  position: relative;
}

.border:hover {
    border: 1px solid black;
}

.icons1{
  position: absolute;
  height: 130px;
  top: 500px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.prest{
  height: auto;
  min-height: 379px;
  width: 100%;
  max-width: 550px;
  background: #C5C5C5;
  color: #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prest2{
  height: auto;
  min-height: 600px;
  width: 100%;
  max-width: 1000px;
  background: #C5C5C5;
  color: #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bord{
  border: 1px solid black;
  min-height: 369px;
  height: auto;
  border-radius: 10px;
  width: 10px auto;
  display: flex;
  
  flex-direction: column;
  
}
.bord2{
  border: 1px solid black;
  min-height: 600px;
  height: auto;
  border-radius: 10px;
  width: 10px auto;
  display: flex;
  
  flex-direction: column;
  
}
.prest h1 span{
  font-weight: 50;
}
.prest h1{
margin: 20px;
left: 20px;
}
.prest p{
margin: 20px;
align-items: center;
justify-content: center;
  left: 20px;
  font-size: 20px;
}
.prest img{
  width: 50%;
margin: 0 auto;

}


@media screen and (max-width: 1000px){
  .prest{
    width: 85%;
  }
.cards{
  width: 300px;
  height: 270px;
  display: none;
}
}

}
@media screen and (max-width:1800px){
  .body2{
    max-width: 1000px;
  }
}