@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
  background: #f5f5f5;
  box-sizing: border-box;
  height: 100%;
}
html{
  height: 100%;
}
/* Barre de navigation */

nav{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  position: sticky;
  top: 0px;
  z-index: 10;
}
nav h1{
  font-size:20px;
}
nav .onglets{
  display: flex;
  flex-wrap:wrap;
}
nav .onglets p{
  font-size: 17px;
  margin-right: 10px;
  cursor:pointer;
}
nav .onglets input{
  margin: 8px 20px;
  padding:15px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #f2f2f2;
}
nav .onglets a{
  text-decoration: none;
  color: #000;
}
/* Fin de la barre de navigation */

/* Header */
.container{
  position: relative;
}
.container img{
  width: 100%;

}
.abs{
  position: absolute;
  top: 10vw;
  right: 55%;
  left: 15%;
  
  }
.title1{
  color: #fff;
}
h4{
  color: #fff;
}
}
.abs h1{
  font-size: 50px;
  max-width: 500px;
  text-align:center;
  
}
.container button{
  padding: 15px 20px;
  font-size: 20px;
  border:none;
  border-radius: 5px;
  outline:none;
  cursor:pointer;
  
}
/* Fin du header */
/* main*/
main{
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  flex-flow: wrap;

}
.body2{
  min-height: 100%;
  position: relative;
}
.boxbox{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  flex-flow: wrap;
}
.box{
  width: 70%;
  height: auto;
  min-height: 500px;
  background: white;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius:10px;
  display:flex;
  justify-content:space-around;
  align-items: center;
  
}
.box1{
  margin: 100px 30% 100px 5%;
}
.box2{
  margin: 100px 5% 100px 30%;
}
.box3{
  margin: 100px 30% 100px 5%;
}
.box img{
  max-height: 450px;
  width: 50%;
  margin: 10px;
  border-radius: 10px;

}
.ab{
  box-sizing: border-box;
  width:40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}
.ab h2{
  color: black;
}
.ab button{
  padding: 15px 20px;
  font-size: 20px;
  border:none;
  border-radius: 5px;
  outline:none;
  cursor:pointer;

}
.ab p{
  font-size:20px;
}

footer{
  height: 150px;
  background: white;
  width: 100%;
  position: absolute;
  bottom: -150px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  color: black;
}
footer p{
  margin: auto 20px;
}
footer a{
  text-decoration: none;
  color: black;
}
footer .icons4{
color: black;
size: 100px;
}

/* fin main*/

@media screen and (max-width: 640px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
  .quiz{
width: 95%;
height: auto;
}

.description{
  
  height: auto;
  width: 95%;
}
.box p{
  margin: 10px 10px;
}
}




@media screen and (max-width: 1200px) {
  .container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
      }
      .abs{
        right: 50%;
        top: 10%;
      }
      h4{
        display: none;
      }
      .imgs img{
        width: 100%;
        top: 50%;
        left: 0;
      }
  .img img{
    width: 100%;
    height: auto;
  }
  .box{
    margin: 50px auto;
    width: 90%;
  }
  .box img{
    max-height: auto;
  width: 90%;
  }
  .box{
    flex-direction: column;
  }
  .ab{
    box-sizing: border-box;
  width:90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}